body {
  text-align: center;
  font-family: Arial;
  background: #111;
  color: white;
}

button {
  padding: 20px;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

#drawBtn {
  background: red;
  color: white;
}